.header {
    width: 350px;
    margin: 7em auto 2em auto;
    color: white;
}

.screen-title {
    font-size: 18px;
}

.icon-button {
    background: none;
    border: none;
}

.search-container {
    width: 350px;
    margin: 0 auto;
}

.search-bar {
    width: 100%;
}

.search-icon {
    margin-top: 40px;
    height: 33px;
    width: 33px;
    border-radius: 100%;
    box-shadow: -2px -2px 3px 0px #1E1E1E inset;
    background: linear-gradient(rgba(8,12,15,0.65), #1A1F26);
    margin-right: 10px;
    img{
        padding: 7px;
    }
}

.search-label {
    height: 25px;
    width: 92px;
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
}

.search-bar-input {
    height: 40px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.upcoming-data-container {
    width: 350px;
    margin: 0px auto;
}

.order-card {
    margin-top: 40px;
}

.order-card-title {
    font-weight: 300;
}

.card-content-header {
  margin-top: 15px;
  height: 31px;
}

.order-type {
  height: 100%;
  float: left;
  margin-left: 17px;
}

.order-type::content {
  margin-top: 0px;
  margin-bottom: auto;
  height: fit-content;
}

.order-type img {
  margin-right: 12px;
}

.order-status {
  display: flex;
  float: right;
  font-size: 12px;
  height: 100%;
}

.order-status::content {
  margin-top: 0px;
  margin-bottom: auto;
  margin-right: 28.34px;
}

.blue-dot-bg {
  margin-top: 2px;
  margin-right: 5px;
  height: 11px;
  width: 11px;
  border-radius: 100%;
  background-color: #0394FF;
}

.grey-dot-bg {
  margin-top: 2px;
  margin-right: 5px;
  height: 11px;
  width: 11px;
  border-radius: 100%;
  background-color: #989898;
}

.order-card-content {
    border-radius: 25px;
    background: linear-gradient(45deg, #080C0F 0%, rgba(39,39,39,0) 100%);
    border: 1px solid #252525;
    width: 100%;
    height: 292px;
    position: relative;
}

.order-card-divider {
    border: 1px solid #252525;
    margin: 0px;
}

.buttons-container {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.resume-button {
    height: 43.87px;
    width: 130px;
    border: none;
    border-radius: 21.93px;
    background-color: #FFFF00;
    box-shadow: inset -2px -2px 4px 0 #C2C200, inset 2px 2px 4px 0 #FFFF80;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: flex;
}

.resume-button-text {
  color: black;
  font-size: 14px;
  font-weight: 900;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 7px;
}

.eye-icon {
  margin-top: 14.7px;
  margin-bottom: 13.6px;
  margin-left: 7px;
  margin-right: auto;
}

.pickup-action-button {
    height: 50px;
    width: 199px;
    border: none;
    border-radius: 0 25px 25px 25px;
    background: linear-gradient(45deg, #080C0F 0%, rgba(38,38,38,0.64) 100%);
    float: left;
    color: white;
    font-size: 14px;
    font-weight: 900;
}

.pickup-to-dropoff-container {
    float: left;
    height: 102px;
    width: 26px;
    margin-top: 13px;
    margin-left: 0px;
    margin-bottom: 7px;
}

.vertical-line {
    border-left: 2px solid #252525;
    border-image: linear-gradient(180deg, #7B7B7B, transparent) 1 100%;
    height: 40px;
    margin-top: 12.67px;
    margin-left: 13px;
    margin-bottom: 11.5px;
    margin-right: 12px;
}

.dropoff-marker {
    margin: 0px 5px;
}

.address-container {
  margin-top: 36px;
  margin-left: 40px;
  width: 271px;
  height: 49px;
}

.dropoff-container {
  margin-top: 25px !important;
}

.address-container > div {
  margin-top: 0px;
}

.address-title {
    font-size: 10px;
    color: #7B7B7B;
    margin: 0px;
    width: fit-content;
}

.address-nickname {
  font-size: 14px;
  font-weight: 300;
  font-weight: bold;
  margin: 0px;
  width: fit-content;
}

.address {
    width: 181px;
    height: 37px;
    font-size: 14px;
    text-overflow: '..';
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}

.date-time-container {
  height: 100%;
  width: fit-content;
  float: right;
  margin-top: -57px !important;
  display: inline;
  text-align: right;
}

.date-text {
  font-size: 12px;
  height: 10px;
  width: 57.66px;
  color: #979797;
  margin-right: 5px;
  margin-left: auto;
}

.time-text {
  margin-top: 7px;
  margin-right: 0px;
  margin-left: auto;
  font-size: 14px;
  height: 11px;
  width: 38px;
}
